!!! HTML

%html
  %head
    %title Upload page
    - %w{jquery-1.4.3.js app.js jquery.form.js}.each do |src|
      %script{:src => src}

  %body
    %h1 Upload your file

    %script{:type => "text/javascript"}
      !== //<![CDATA[
      = "upload_uuid = #{locals[:uuid]};"
      !== //]]>

    %form{:action => "/titles", :method => "post", :id => "title_form"}
      %label{:for => "title"} Title
      %input{:type => "text", :id => "title", :name => "title"}

      %input{:type => "hidden", :id => "filepath", :name => "filepath"}

    %form{:action => "/uploads?X-Progress-ID=#{locals[:uuid]}", :method => "post", :enctype => "multipart/form-data", :id => "file_form"}
      %p
        Progress:
        %span#progress select file

      %label{:for => "file"} File
      %input{:type => "file", :id => "file", :name => "file"}

      %button{:type => "submit"} Submit

